<template>
  <div id="app">
    <navbar></navbar>
    <router-view class="content-view"/>
    <login-modal/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import LoginModal from '@/components/LoginModal'

export default {
  name: 'app',
  components: {
    Navbar,
    LoginModal
  }
}
</script>

<style>

.content-view {
  margin-top: 4em;
}
</style>
