<template>
  <div>
    <modal ref="loginModal"
        :showCancel="true"
        @ok="okClick"
        @cancel="cancelClick">
      <template slot="title">Login</template>
      <template slot="content">

        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Username</label>
                    <input id="name" type="text" placeholder="Username" v-model="username" required="required">
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password" v-model="password" required="required">
                </div>


            </fieldset>
        </form>
      </template>
    </modal>

  </div>

</template>

<script>

import { mapActions } from 'vuex'
import events from '@/services/event'
import Modal from '@/components/Modal'

export default {
  name: 'LoginModal',
  components: {Modal},
  data() {
    return {
      username: '',
      password: ''
    }
  },
  created() {
    events.$on('do-login', this.show)
  },
  beforeDestroy() {
    events.$off('do-login', this.show)
  },
  methods: {
    show() {
      this.clearForm()
      this.$refs.loginModal.show()
    },
    close() {
      this.$refs.loginModal.hide()
    },
    okClick() {
      this.login({'username': this.username, 'password': this.password})
      this.close()
    },
    cancelClick() {
      this.close()
    },
    clearForm() {
      this.username = ''
      this.password = ''
    },
    ...mapActions(
      {
        login: 'auth/login',
        logout: 'auth/logout'
      })
  }
}

</script>

<style scoped>
</style>
