<template>
  <div>
    <div class="modal-overlay" v-if="showModal"></div>
    <div class="pure-g modal-container" v-if="showModal">
      <div class="pure-u-1-4">&nbsp;</div>
      <div class="modal pure-u-1-2">
        <div class="modal-title align-center"><slot name="title">Title</slot></div>
        <div class="modal-content"><slot name="content">Content</slot></div>
        <div class="modal-buttons align-right">
          <button type="button" class="pure-button pure-button-info" @click="$emit('ok')" >Ok</button>
          <button type="button" class="pure-button pure-button-secondary" v-if="showCancel" @click="$emit('cancel')">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Modal',
  props: ['showCancel'],
  data() {
    return {
      showModal: false
    }
  },
  methods: {
    show() {
      this.showModal = true
    },
    hide() {
      this.showModal = false
    }
  }

}

</script>

<style scoped>
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  z-index: 999;
  opacity: 0.8;
}

.modal-container {
  position: absolute;
  width:100%;
  top: 5em;
}

.modal {
  position: relative;

  z-index: 1000;
}

.modal-title {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  height: 2em;
  width: 100%;
  background: var(--primary);
  color: var(--white);
  padding: 0;
  margin: 0;
  padding-top: .5em;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  width: 100%;
  padding: 1em;
  background: var(--lighter);
  box-sizing: border-box;
}

.modal-buttons {
  position: relative;
  width: 100%;
  background-color: var(--lighter);
  box-sizing: border-box;
  padding: .5em 1em;
  margin: 0;
  border-radius: 0 0 6px 6px;
}

</style>
