<template>
  <div class="header">

    <div class="navbar pure-menu pure-menu-horizontal pure-menu-fixed">
      <router-link to="/"><img src="/static/logo.png" class="navbar-logo" /></router-link>
      <router-link class="pure-menu-heading" to="/">Cycle</router-link>
      <div class="pure-menu-item view-title">{{viewTitle}}</div>
      <ul class="pure-menu-list">

          <li v-if="!loggedIn" class="pure-menu-item"><a @click="loginClick()" href="#" class="pure-menu-link">Login</a></li>
          <li v-if="loggedIn" class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link"><em>{{userInfo.displayName}}</em></a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><router-link to="/user-profile" class="pure-menu-link">Profile</router-link></li>
                <li class="pure-menu-item" v-if="userInfo.systemAdmin"><router-link to="/system-admin" class="pure-menu-link">System Admin</router-link></li>
                <li class="pure-menu-item"><a @click="logoutClick()" href="#" class="pure-menu-link">Logout</a></li>
            </ul>
          </li>
      </ul>
    </div>



  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import events from '@/services/event'

export default {
  name: 'Navbar',
  data() {
    return {

    }
  },
  computed: mapGetters({
    loggedIn: 'auth/loggedIn',
    userInfo: 'user/userInfo',
    viewTitle: 'ui/viewTitle'
  }),
  methods: {
    loginClick() {
      events.$emit('do-login')
    },
    systemAdminClick() {
      this.$router.push('/system-admin')
    },
    profileClick() {
      this.$router.push('/user-profile')
    },
    logoutClick() {
      this.logout()
    },
    ...mapActions({
      logout: 'auth/logout'
    }
      )
  },
  created() {
    if (this.loggedIn) {
      this.$store.dispatch('user/loadUserInfo')
    }
  }
}
</script>

<style scoped>

.pure-menu-horizontal {
  white-space: normal !important;
}

.navbar-logo {
  max-width: 40px;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

.navbar {
    padding: 0.4em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.navbar {
    background: var(--primary);
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
}

.navbar .pure-menu-heading {
    color: var(--white);
    font-weight: 400;
    font-size: 120%;
    border-left: 1px solid var(--success);
    border-right: 1px solid var(--success);
}

.navbar .pure-menu-selected a,
.view-title {
    color: var(--white);
}

.view-title {
  padding-left: .5em;
}

.navbar a {
  color: var(--white);
}
.navbar li a:hover,
.navbar li a:focus {
    background: none;
    border: none;
    color: var(--success);
    vertical-align: sub;
}

.navbar ul {
  padding-top: .3em;
}

.navbar .pure-menu-children {
  background-color: var(--success);
  width: 8em;
}

.navbar .pure-menu-children a:hover {
  color: var(--primary)
}

@media (min-width: 48em) {

    .navbar {
        text-align: left;
    }
    .navbar ul {
        float: right;
    }

}
</style>
