<template>
  <div class="sidebar-page">

    <div class="sidebar-page-content">
      <slot name="content">Sidebar page content</slot>
    </div>
    <sidebar class="sidebar" :items="items" />
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'

export default {
  name: 'SidebarPage',
  props: ['items'],
  components: {Sidebar}
}

</script>

<style scoped>

.sidebar-page {
  position: relative;
}

.sidebar-page-content {
  position: absolute;
  padding: 1em 2em 1em 17em;
  right:0;
  left:0;
}

.sidebar {
  width: 15em;
}

</style>
