<template>
  <div class="sidebar">
    <div class="sidebar-list">
      <div class="sidebar-item" v-for="(item, index) in items" :key="index">
        <router-link :to="item.to">{{item.title}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Sidebar',
  props: ['items']
}

</script>

<style scoped>

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background: var(--lighter);
  top: 3.5em;
  box-sizing: border-box;
}

.sidebar-item a {
  display: block;
  background: var(--light);
  padding: 1em 2em;
  border: 2px solid var(--lighter);
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary);
}

.sidebar-item a:hover {
  color: var(--success);
}

</style>
