<template>
  <div>
    <div v-if="loggedIn">
      <sidebar-page :items="sidebarItems" >
        <template slot="content">hello<router-view/></template>
      </sidebar-page>
    </div>

    <div v-else class="pure-g">
      <div class="pure-u-1-6">&nbsp;</div>
      <div class="pure-u-2-3">
        <card>
          <template slot="header">Cycle</template>
          <template slot="content"><div class="align-center"><p>Project management?</p><em>Yeah!</em></div></template>
        </card>
      </div>

    </div>

  </div>
</template>

<script>
import Card from '@/components/Card'
import SidebarPage from '@/components/SidebarPage'
import {mapGetters} from 'vuex'

export default {
  name: 'start',
  data () {
    return {
      sidebarItems: [
        {title: 'My Sites', to: '/system-admin/sites/'},
        {title: 'Site Statuses', to: '/system-admin/statuses/site/'},
        {title: 'Users', to: '/system-admin/users/'},
        {title: 'User Statuses', to: '/system-admin/statuses/user/'}

      ]
    }
  },
  components: {Card, SidebarPage},
  created() {
    this.$store.dispatch('ui/updateViewTitle', 'Start')
  },
  watch: {

  },
  computed: {
    ...mapGetters({
      loggedIn: 'auth/loggedIn'
    })
  }
}
</script>

<style scoped>


</style>
