<template>
  <div>
    user profile
  </div>
</template>

<script>

export default {
  name: 'UserProfile',
  data() {
    return {

    }
  },
  created() {
    this.$store.dispatch('ui/updateViewTitle', 'User Profile')
  }

}


</script>

<style scoped>
</style>
