<template>
  <div>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <legend>{{title}}</legend>
        <div class="pure-control-group">
          <label for="title">Title</label>
          <input id="title" type="text" class="pure-input-1-2" placeholder="Title" v-model="site.title" required="required" />
        </div>

        <div class="pure-control-group">
          <label for="description">Description</label>
          <textarea id="description" class="pure-input-1-2" placeholder="Description" v-model="site.description" required="required" />
        </div>

        <div class="pure-control-group">
          <label for="status">Status</label>
          <select id="status" class="pure-input-1-2" v-model="site.status" >
            <option :value="null">Select a status</option>
            <option v-for="option in statusOptions" :value="option.value" :key="option.internalId">
              {{ option.text }}
            </option>
          </select>

        </div>

        <div class="pure-controls" >
            <button type="button" class="pure-button pure-button-success" @click="saveClick" >Save</button>
        </div>
      </fieldset>
    </form>
  </div>

</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import _ from 'lodash'

const MODES = {'N': 'New', 'E': 'Edit'}

export default {
  name: 'SiteEdit',
  data() {
    return {
      mode: MODES.N,
      statusOptions: []
    }
  },
  props: ['id'],
  watch: {
    siteStatuses(statuses) {
      var opts = _.map(statuses, function(s) {
        return {
          value: s,
          text: s.name
        }
      })
      this.statusOptions = opts
    },
    createdSite(s) {
      if (s.internalId) {
        this.$router.push(
          {
            name: 'SystemAdminSitesEdit',
            params: { id: s.internalId }
          }
        )
      }
    },
    id() {
      this.init()
    }
  },
  computed: {
    title() {
      return this.mode === MODES.N ? 'New Site' : 'Edit Site'
    },
    ...mapGetters({
      site: 'site/loadedSite',
      createdSite: 'site/createdSite',
      siteStatuses: 'status/siteStatuses'
    })
  },
  methods: {
    saveClick() {
      if (this.mode === MODES.E) {
        this.updateSite(this.site)
      } else {
        this.createSite(this.site)
      }

    },
    init() {
      if (this.id) {
        this.resetCreatedSite()
        this.mode = MODES.E
        this.loadSite(this.id)
      } else {
        this.mode = MODES.N
        this.resetLoadedSite()
      }
    },
    ...mapActions({
      updateSite: 'site/updateSite',
      createSite: 'site/createSite',
      loadSite: 'site/loadSite',
      loadStatuses: 'status/loadStatuses',
      resetLoadedSite: 'site/resetLoadedSite',
      resetCreatedSite: 'site/resetCreatedSite'
    })
  },
  created() {
    this.init()
    this.loadStatuses('site')
  }
}

</script>

<style scoped>



</style>
