<template>
  <div class="pure-g">
    <div class="pure-u-2-3">
      <div class="pure-g top-controls">
        <div class="pure-u-1-2">
          <form class="pure-form">
            <fieldset>
              <input v-model="filter"
                type="text"
                placeholder="Filter by title"/>
            </fieldset>
          </form>
        </div>
        <div class="pure-u-1-2 align-right"><router-link class="pure-button pure-button-success add-button" to="/system-admin/sites/new" tag="button">Add</router-link></div>
      </div>
      <div class="pure-g sites-list-item" v-for="site in sites" :key="site.internalId">
        <div class="pure-u-1-12">
          <router-link :to="{ name: 'SystemAdminSitesEdit', params: { id: site.internalId }}"><svgicon class="edit-button" icon="edit-2" width="18" height="18"
              color="r-#2C3E50" ></svgicon></router-link>
        </div>
        <div class="pure-u-1-4">{{ site.title }}</div>
        <div class="pure-u-2-3">{{ site.description }}</div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1-2"><a href="#" v-on:click.prevent="goPrevPage"><svgicon icon="chevron-left" width="32" height="32"
                  color="r-#2C3E50" v-bind:class="{'next-prev-disabled': !hasPrevPage}"></svgicon></a></div>
        <div class="pure-u-1-2 align-right"><a href="#" v-on:click.prevent="goNextPage"><svgicon icon="chevron-right" width="32" height="32"
                    color="r-#2C3E50" v-bind:class="{'next-prev-disabled': !hasNextPage}"></svgicon></a></div>
      </div>
    </div>
  </div>

</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import '@/compiled-icons/edit-2'
import '@/compiled-icons/chevron-left'
import '@/compiled-icons/chevron-right'
import _ from 'lodash'

export default {
  name: 'SitesList',
  data() {
    return {
      filter: ''
    }
  },
  watch: {
    filter: function() {
      this.doSearch()
    }
  },
  created() {
    this.firstPage()
  },
  computed: mapGetters({
    sites: 'site/sites',
    pageNo: 'site/pageNo',
    pageCount: 'site/pageCount',
    hasNextPage: 'site/hasNextPage',
    hasPrevPage: 'site/hasPrevPage'
  }),
  methods: {
    doSearch: _.debounce(
      function() {
        this.firstPage(this.filter)
      },
      500),
    goNextPage() {
      if (this.hasNextPage) {
        this.nextPage(this.filter)
      }
    },
    goPrevPage() {
      if (this.hasPrevPage) {
        this.prevPage(this.filter)
      }
    },
    ...mapActions({
      firstPage: 'site/firstPage',
      nextPage: 'site/nextPage',
      prevPage: 'site/prevPage'
    })
  }
}


</script>

<style scoped>

.top-controls {
  margin-bottom: 1em;
}


.add-button {
  margin-top: .35em;
}

.next-prev-disabled {
  display: none;

}

.filter-container {
  margin-bottom: 1em;
}

.sites-list-item {
  margin-bottom: 1em;
}
</style>
