<template>
  <div class="pure-g">
    <div class="pure-u-2-3">
      <div class="pure-g top-controls">
        <div class="pure-u-1-2">
          <form class="pure-form">
            <fieldset>
              <input v-model="filter"
                type="text"
                placeholder="Filter by name" autocomplete="off"/>
            </fieldset>
          </form>
        </div>
        <div class="pure-u-1-2 align-right"><router-link class="pure-button pure-button-success add-button" :to="'/system-admin/statuses/' + this.type + '/new'" tag="button">Add</router-link></div>
      </div>
      <div class="pure-g statuses-list-item" v-for="status in statuses" :key="status.internalId">
        <div class="pure-u-1-12">
          <router-link :to="{ name: 'SystemAdminStatusesEdit', params: { id: status.internalId, type: type }}"><svgicon class="edit-button" icon="edit-2" width="18" height="18"
              color="r-#2C3E50" ></svgicon></router-link>
        </div>
        <div class="pure-u-1-4">{{ status.name }}</div>
        <div class="pure-u-2-3">{{ status.description }}</div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1-2"><a href="#" v-on:click.prevent="goPrevPage"><svgicon icon="chevron-left" width="32" height="32"
                  color="r-#2C3E50" v-bind:class="{'next-prev-disabled': !hasPrevPage}"></svgicon></a></div>
        <div class="pure-u-1-2 align-right"><a href="#" v-on:click.prevent="goNextPage"><svgicon icon="chevron-right" width="32" height="32"
                    color="r-#2C3E50" v-bind:class="{'next-prev-disabled': !hasNextPage}"></svgicon></a></div>
      </div>
    </div>
  </div>

</template>
<script>

import _ from 'lodash'
import { mapGetters, mapActions } from 'vuex'


export default {
  name: 'StatusesList',
  props: ['type'],
  data() {
    return {
      statuses: [],
      filter: ''
    }
  },
  computed: mapGetters({
    siteStatuses: 'status/siteStatuses',
    userStatuses: 'status/userStatuses',
    pageNo: 'status/pageNo',
    pageCount: 'status/pageCount',
    hasNextPage: 'status/hasNextPage',
    hasPrevPage: 'status/hasPrevPage'
  }),
  watch: {
    filter () {
      this.doSearch()
    },
    siteStatuses (to) {
      this.statuses = to
    },
    userStatuses (to) {
      this.statuses = to
    },
    type() {
      this.firstPage({type: this.type})
    }
  },
  created() {
    this.firstPage({type: this.type})
  },
  methods: {
    doSearch: _.debounce(
      function() {
        this.firstPage({type: this.type, name: this.filter})
      },
      500),
    goNextPage() {
      if (this.hasNextPage) {
        this.nextPage({type: this.type, name: this.filter})
      }
    },
    goPrevPage() {
      if (this.hasPrevPage) {
        this.prevPage({type: this.type, name: this.filter})
      }
    },
    ...mapActions({
      loadStatuses: 'status/loadStatuses',
      firstPage: 'status/firstPage',
      nextPage: 'status/nextPage',
      prevPage: 'status/prevPage'
    })
  }

}


</script>
<style>
.top-controls {
  margin-bottom: 1em;
}


.add-button {
  margin-top: .35em;
}

.next-prev-disabled {
  display: none;

}

.filter-container {
  margin-bottom: 1em;
}

.statuses-list-item {
  margin-bottom: 1em;
}
</style>
