<template>
  <div>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <legend>{{title}}</legend>
        <div class="pure-control-group">
          <label for="name">Name</label>
          <input id="name" type="text" class="pure-input-1-2" placeholder="Name" v-model="status.name" required="required" />
        </div>

        <div class="pure-control-group">
          <label for="description">Description</label>
          <textarea id="description" class="pure-input-1-2" placeholder="Description" v-model="status.description" required="required" />
        </div>

        <div class="pure-controls" >
            <button type="button" class="pure-button pure-button-success" @click="saveClick" >Save</button>
        </div>
      </fieldset>
    </form>
  </div>

</template>

<script>

import { mapGetters, mapActions } from 'vuex'

const MODES = {'N': 'New', 'E': 'Edit'}

const TYPES = {
  'site': 'Site',
  'user': 'User'
}

export default {
  name: 'StatusEdit',
  data() {
    return {
      mode: MODES.N
    }
  },
  props: ['id', 'type'],
  watch: {
    createdStatus(s) {
      if (s.internalId) {
        this.$router.push(
          {
            name: 'SystemAdminStatusesEdit',
            params: { id: s.internalId, type: this.type }
          })
      }
    },
    id() {
      this.init()
    }
  },
  computed: {
    title() {
      return (this.mode === MODES.N ? 'New ' : 'Edit ') + TYPES[this.type] + ' Status'
    },
    ...mapGetters({
      status: 'status/loadedStatus',
      createdStatus: 'status/createdStatus'
    })},

  methods: {
    saveClick() {
      if (this.mode === MODES.E) {
        this.updateStatus(this.status)
      } else {
        this.createStatus({type: this.type, status: this.status})
      }

    },

    init() {
      if (this.id) {
        this.resetCreatedStatus()
        this.mode = MODES.E
        this.loadStatus({type: this.type, id: this.id})
      } else {
        this.mode = MODES.N
        this.resetLoadedStatus()
      }
    },

    ...mapActions({
      updateStatus: 'status/updateStatus',
      createStatus: 'status/createStatus',
      loadStatus: 'status/loadStatus',
      resetLoadedStatus: 'status/resetLoadedStatus',
      resetCreatedStatus: 'status/resetCreatedStatus'
    })

  },

  created() {
    this.init()

  }

}

</script>

<style scoped>
</style>
