<template>
  <div>
    <sidebar-page :items="items" >
      <template slot="content"><router-view/></template>
    </sidebar-page>


  </div>
</template>

<script>
import SidebarPage from '@/components/SidebarPage'


export default {
  name: 'SystemAdmin',
  components: {
    SidebarPage
  },
  data() {
    return {
      items: [
        {title: 'Sites', to: '/system-admin/sites/'},
        {title: 'Site Statuses', to: '/system-admin/statuses/site/'},
        {title: 'Users', to: '/system-admin/users/'},
        {title: 'User Statuses', to: '/system-admin/statuses/user/'}

      ]
    }
  },
  watch: {
    '$route' (to, from) {
      if (to.name) {
        if (to.name === 'SystemAdminSites') {
          this.updateTitle('System Admin > Sites')
        } else if (to.name === 'SystemAdminUsers') {
          this.updateTitle('System Admin > Users')
        } else if (to.name === 'SystemAdminStatuses') {
          this.updateTitle('System Admin > Statuses')
        }
      } else {
        console.log(this.$route)
      }

    }
  },
  created() {
    this.updateTitle('System Admin')
  },
  methods: {
    updateTitle(title) {
      this.$store.dispatch('ui/updateViewTitle', title)
    }
  }

}


</script>

<style scoped>
</style>
