<template>
  <div>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <legend>{{username}}</legend>
        <div class="pure-control-group">
          <label for="username">Username</label>
          <input v-if="mode === modes.N" id="username" type="text" class="pure-input-1-2" placeholder="Username" v-model="user.username" required="required" autocomplete="cycle">
          <span v-if="mode === modes.E" >{{user.username}}</span>
        </div>

        <div v-if="mode === modes.E">
          <div class="pure-control-group">
            <label >Created</label>
            <span>{{user.created | datetime-format}}</span>
          </div>
          <div class="pure-control-group">
            <label >Updated</label>
            <span>{{user.updated | datetime-format}}</span>
          </div>

          <div class="pure-control-group">
            <label >Email</label>
            <span><a :href="'mailto:' + user.email">{{user.email}}</a></span>
          </div>

        </div>

        <div class="pure-control-group">
          <label for="displayName">Display Name</label>
          <input id="displayName" type="text" class="pure-input-1-2" placeholder="Display Name" v-model="user.displayName" required="required" autocomplete="cycle" />
        </div>

        <div class="pure-control-group">
          <label for="password"><span v-if="mode === modes.E">New </span>Password</label>
          <input id="password" ref="password" type="password" class="pure-input-1-2" placeholder="Password" v-model="password" autocomplete="cycle" />
        </div>

        <div class="pure-control-group">
          <label for="passwordCheck">Confirm Password</label>
          <input id="passwordCheck" ref="passwordCheck" type="password" class="pure-input-1-2" placeholder="Confirm Password" v-model="passwordCheck" autocomplete="cycle" :required="passwordHasInput" />
        </div>

        <div class="pure-control-group">
          <label for="email"><span v-if="mode === modes.E">Change </span>Email</label>
          <input id="email" ref="email" type="email" class="pure-input-1-2" placeholder="Email" v-model="email" autocomplete="cycle" />
        </div>

        <div class="pure-control-group">
          <label for="emailCheck">Confirm Email</label>
          <input id="emailCheck" ref="emailCheck" type="email" class="pure-input-1-2" placeholder="Confirm Email" v-model="emailCheck" autocomplete="cycle" :required="emailHasInput" />
        </div>

        <div class="pure-control-group">
          <label for="status">Status</label>
          <select id="status" class="pure-input-1-2" v-model="user.status">
            <option :value="null">Select a status</option>
            <option v-for="option in statusOptions" :value="option.value" :key="option.internalId">
              {{ option.text }}
            </option>
          </select>

        </div>

        <div class="pure-controls">
          <button type="button" class="pure-button pure-button-success" @click="saveClick">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import _ from 'lodash'

const MODES = {'N': 'New', 'E': 'Edit'}

export default {
  name: 'UserEdit',
  data() {
    return {
      modes: MODES,
      mode: MODES.N,
      statusOptions: [],
      password: '',
      passwordCheck: '',
      email: '',
      emailCheck: ''
    }
  },
  props: ['id'],
  watch: {
    userStatuses(statuses) {
      var opts = _.map(statuses, function(s) {
        return {
          value: s,
          text: s.name
        }
      })
      this.statusOptions = opts
    },
    createdUser(s) {
      if (s.internalId) {
        this.$router.push(
          {
            name: 'SystemAdminUsersEdit',
            params: { id: s.internalId }
          }
        )
      }
    },
    id() {
      this.init()
    },
    password() {
      this.validatePasswordFields()
    },
    passwordCheck() {
      this.validatePasswordFields()
    },
    email() {
      this.validateEmailFields()
    },
    emailCheck() {
      this.validateEmailFields()
    }
  },
  computed: {
    passwordHasInput() {
      return !!(this.password && this.password.length)
    },
    emailHasInput() {
      return !!(this.email && this.email.length)
    },
    username() {
      return this.mode === MODES.N ? 'New User' : 'Edit User'
    },
    ...mapGetters({
      user: 'user/loadedUser',
      createdUser: 'user/createdUser',
      userStatuses: 'status/userStatuses'
    })
  },
  methods: {
    validateFields(field, fieldCheck) {
      if (this[fieldCheck] !== this[field]) {
        this.$refs[fieldCheck].setCustomValidity('Fields don\'t match')
        this.$refs[field].setCustomValidity('Fields don\'t match')
      } else {
        this.$refs[fieldCheck].setCustomValidity('')
        this.$refs[field].setCustomValidity('')
      }
    },
    validatePasswordFields() {
      this.validateFields('password', 'passwordCheck')
    },
    validateEmailFields() {
      this.validateFields('email', 'emailCheck')
    },
    saveClick() {
      if (this.password && this.password === this.passwordCheck) {
        this.user.password = this.password
      }

      if (this.email && this.email === this.emailCheck) {
        this.user.email = this.email
      }

      if (this.mode === MODES.E) {
        this.updateUser(this.user)
      } else {
        this.createUser(this.user)
      }

    },
    init() {
      this.password = this.passwordCheck = ''
      this.email = this.emailCheck = ''

      if (this.id) {
        this.resetCreatedUser()
        this.mode = MODES.E
        this.loadUser(this.id)
      } else {
        this.mode = MODES.N
        this.resetLoadedUser()
      }
    },
    ...mapActions({
      updateUser: 'user/updateUser',
      createUser: 'user/createUser',
      loadUser: 'user/loadUser',
      loadStatuses: 'status/loadStatuses',
      resetLoadedUser: 'user/resetLoadedUser',
      resetCreatedUser: 'user/resetCreatedUser'
    })
  },
  created() {
    this.init()
    this.loadStatuses('user')
  }
}

</script>

<style scoped>



</style>
